$font-color: #333;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
// $background-color: #3d5a80;
$background-color: #fff;
$background-alternative-color: #e0fbfc;
$footer-color: #5f9ea0; // cadetblue
$menu-hover-color: #5f9ea0; // cadetblue
$menu-active-color: #D3453D;

// $fonts-headlines: 'Nunito Sans', 'Open Sans', sans-serif;
// $fonts-text: 'PT Serif', 'Roboto', sans-serif;; 
$fonts-headlines: 'Nunito Sans', sans-serif;
$fonts-text: 'PT Serif', sans-serif;
