{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="tech-container">

        <div class="tech-flex">

            <div class="tech-menu">
                {% for page in pages("technology")|sort_by("name") if not page.hidden %}
                    <p><a href="{{ page.url }}">{{ page.title }}</a></p>
                {% endfor %}
            </div>
            
            <div class="tech-main" role="main">
                {{ content }}
            </div>

        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
